h1 {
  color: black;
  font-family: "Indie Flower"
}
p {
  color: purple;
  width: 500px;
  text-align: center;
}
h1 {
  font-size: 60px;
  font-style: italic;
}
li {
  color: black;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  font-style: italic;
  text-align: center;
}
html {
  background-color: #424242;
  background-image: url(../images/me.jpg);

}
body {
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  border-radius: 80px;
  font-style: italic;
  background-color: rgba(221, 160, 221, 0.6);

}
img {
  display:inline-block;
  margin: 0 auto;
  border: 4px solid purple
  border-radius: 10px;
  shape-image-threshold: 30%;
  margin:0 auto;
  display: block;
  margin: 0 auto;


}
h1, h2, p, li {text-shadow: 3px 3px 3px blue;
}
h2, h1, p, li {
  color: black
}


h2{
  text-align: center;
}
h1{
  text-align: center;
}

p{
  padding: 50px;
}
#button{
  background-color: purple;
  width: 80px;
  text-align: center;
  border-radius: 30px;
  padding: 15px;
  margin:0 auto;


 }
#button:hover{
  background-color: white;
  cursor: pointer;
  
}
